Builds
Build

GeneticAlgorithm/Library
GeneticAlgorithm/Temp
GeneticAlgorithm/Assets/UnityVS
GeneticAlgorithm/*.sln
GeneticAlgorithm/*.csproj
GeneticAlgorithm/obj
GeneticAlgorithm/*.pidb
GeneticAlgorithm/*.userprefs

*.lastbuildstate
*.obj
*.pdb
*.lik
*.csproj.user
*.suo
*.tlog